.signup{
    font-size: 20px;
	font-family: Times New Roman;
    text-align: center;
	margin-top: 250px;
	margin-left: 500px;
	margin-right: 500px;
}
.signup-form{
    font-size: 22px;
}

.input-title{
    margin-bottom: 0px;
}