{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
<div class="p-2 container mx-auto h-screen">
    <div class="navbar bg-base-100 shadow-xl rounded-box">
        <div class="flex-1">
            <a href="{% url "welcome" %}" class="btn btn-ghost normal-case text-xl">Home</a>
        </div>
         <div class="form-control">
      <input type="text" placeholder="Search" class="input input-bordered" />
    </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li><a>Listing Builder</a></li>
                <li tabindex="0">
                    <a>
                        MyList
                        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                    </a>
                    <ul class="p-2 bg-base-100">
                        <li><a>Submenu 1</a></li>
                        <li><a>Submenu 2</a></li>
                    </ul>
                </li>
                <li><a>Item 3</a></li>
                <li>

                </li>
            </ul>
        </div>
    </div>
    {% block content %}


    {% endblock %}
</div>
</body>
</html>

