{% extends "base.html" %}

{% block content %}
    <div class="p-2">
    <div>
    <h1>All Listings</h1>

    {% for listing in all_listings %}
        <div class="card">
            <h2 class="card-title">{{ listing.title }}</h2>
            <div class="card-body">
                <ul>
                    <li>Listings Picture Container: {{ listing.listing_main_photo }}</li>
                    <li><strong>Creator: </strong>{{ listing.owner }}</li>
                    <li><strong>Description: </strong>{{ listing.description }}</li>
                    <li><strong>Location Info: </strong>{{ listing.location }}</li>
                </ul>
            </div>
            <div class="card-actions justify-end">
                <form method="post" action="{% url 'listings:destroy' pk=listing.id %}">
                    {% csrf_token %}
                    <button class="btn btn-warning">Destroy</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}

</div>

</div>